*{
		margin: 0;
		padding: 0;
		}
		
		body{
			margin:50px;
		}
		
		#nav{
			margin:0; 
			padding:0;
			float:left;
		}
		#nav li{
			list-style:none;
			background-color:#B2EBF2;
			width:250px;
			border-bottom:1px solid gray;
		}
		#nav li a{
			display:block;
			padding:8px;
			border-left:1px solid #444;
			text-decoration:none;
			box-shadow:2px 2px 5px #ccc;
			color:#000000;
		}
		#nav li a:hover{
			border-left:4px solid #069; background:#f8f8f8;
		}
		#nav li ul{
			display:none;
		}
		#nav li:hover ul{
			display:block;
			
		}
		#nav li:hover ul li{
			background:#333;
			text-align:center;
		}
		#nav li:hover ul li a{
			color:#ccc;
			text-align:center;
		}
		#nav li:hover ul li a:hover{
			background:#333; border-left:4px solid #900;
		}
		#nav li ul li ul li{
			display:none;
		}
		#nav li ul li:hover ul li {
			display:block;
		}
		