*{
		
		box-sizing:border-box;
		font-family:sans-serif;
	}
	
		
	body{
		margin:0;
	}
	
	.container{
		margin:0 auto;
		max-width:1000px;
	}
	
	nav{
		background:#fff;
	}
	
	nav ul{
		padding:0;
		margin:o;
		list-style:none;
		position:relative;
		text-align:center;
	}
	
	nav li{
		display:inline-block;
	}
	
	nav a{
		text-decoration:none;
		color:#555;
		display:block;
		padding:.75em 1.75em;
	}
	
	nav li:hover{
		background:#f8f8f8;
		
	}
	
	.menu-sub{
		position:absolute;
		width:100%;
		display:none;
		background:white;
		
	}
	
	.menu-main:hover .menu-sub{
		display:block;
		
	}
	
	
	
	
	