*{
		
		box-sizing:border-box;
		font-family:sans-serif;
	}
	
		
	body{
		margin:0;
	}
	
	.container{
		margin:0 auto;
		max-width:1000px;
	}
	
	nav{
		background:#fff;
	}
	
	nav ul li{
		padding:0;
		margin:o;
		list-style:none;
		position:relative;
	}
	
	nav ul li{
		display:inline-block;
	}
	
	nav ul li a{
		text-decoration:none;
		color:#555;
		display:block;
		padding:.75em 1.75em;
	}
	
	nav ul li:hover{
		background:#f8f8f8;
	}
	
	nav ul li ul li{
		position:absolut;
		background:#444;
	}
	