*{
		margin: 0;
		padding: 0;
		list-style:none;
		box-sizing:border-box;
		font-family:sans-serif;
	}
	
		
	.wrapper{
		width:350px;
		height:100%;		
	}
	.mega_menu{
		width:180px;
		height:300px;
		
	}
	.mega_menu ul{
		width:180px;
		background:white;
		text-align:center;
		line-height:100px;
		
		
		
	}
	.mega_menu ul li{
		display:inline-block;
		margin:0 15px;
		padding:0 15px;
		position:relative;
		
	}
	
	.mega_menu ul li a{
		text-decoration:none;
		color:black;
		font-weight:bold;
		letter-spacing:4px;
		font-size:16px;
		display:block;
		
	}
	.col ul li {
		position:absolute;
		background:white;
		width:100px;
		left:0;
		padding:15px 10px;
		display:flex;
		line-height:60px;
		visibility:hidden;
		margin-left:200px;
		margin-top:0px;
		float:left;
		
		
	}
	
	.mega_menu ul li:hover{
		background:#2c2c2c;
	}
	.mega_menu ul li:hover a{
		color:lightgreen;
	}
	.col ul li{
		visibility:visible;
	}
	
	.sub_menu a{
		
		padding-top:0px;
		margin-top:0px;
		font-size:14px;
		
	}
	 
	
	